<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>AOT ERP</title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/bootstrap.css}">

  <link rel="stylesheet" th:href="@{/vendors/perfect-scrollbar/perfect-scrollbar.css}">
  <link rel="stylesheet" th:href="@{/vendors/bootstrap-icons/bootstrap-icons.css}">
  <link rel="stylesheet" th:href="@{/css/app.css}">
  <link rel="shortcut icon" th:href="@{/images/favicon.svg}" type="image/x-icon">
</head>

<body>
<div id="app">
  <th:block th:include="fragments/sidebar"></th:block>
  <div id="main">
    <header class="mb-3">
      <a href="#" class="burger-btn d-block d-xl-none">
        <i class="bi bi-justify fs-3"></i>
      </a>
    </header>

    <div class="page-heading">
      <div class="page-title">
        <div class="row">
          <div class="col-12 col-md-6 order-md-1 order-last">
            <h3>メンバー登録</h3>
          </div>
        </div>
      </div>

      <!-- Basic Horizontal form layout section start -->
      <section id="basic-horizontal-layouts">
        <div class="row match-height">
          <div class="col-md-12 col-12">
            <div class="card">
              <div class="card-content">
                <div class="card-body">
                  <form class="form form-horizontal">
                    <div class="form-body">
                      <div class="row">
                        <div class="col-md-2">
                          <label>メールアドレス</label>
                        </div>
                        <div class="col-md-10 form-group">
                          <input type="email" id="email-id" class="form-control"
                                 name="email" placeholder="Email">
                        </div>
                        <div class="col-md-2">
                          <label>名前</label>
                        </div>
                        <div class="col-md-10 form-group">
                          <input type="text" id="name-id" class="form-control"
                                 name="name" placeholder="Name">
                        </div>
                        <div class="col-md-2">
                          <label>部署</label>
                        </div>
                          <fieldset class="col-md-10 form-group">
                            <select class="form-select" id="department-id" name="department">
                              <option value="-1"></option>
                              <option value="1">システム開発1部</option>
                              <option value="2">システム開発2部</option>
                              <option value="3">システム開発3部</option>
                            </select>
                          </fieldset>

                        <div class="col-md-2">
                          <label>役職</label>
                        </div>
                        <fieldset class="col-md-10 form-group">
                          <select class="form-select" id="position-id" name="position">
                            <option value="-1"></option>
                            <option value="1">テスター</option>
                            <option value="2">プログラマー</option>
                            <option value="3">システムエンジニア</option>
                            <option value="4">チームリーダー</option>
                            <option value="5">プロジェクトマネージャー</option>
                          </select>
                        </fieldset>

                        <div class="col-md-2">
                          <label>年齢</label>
                        </div>
                        <div class="col-md-10 form-group">
                          <input type="number" id="age-id" class="form-control"
                                 name="age" placeholder="Age">
                        </div>

                        <div class="col-md-2">
                          <label>性別</label>
                        </div>
                        <div class="col-md-10 form-group">
                        </div>
                        <fieldset class="col-md-10 form-group">
                          <select class="form-select" id="sex-id" name="sex">
                            <option value="-1"></option>
                            <option value="1">男性</option>
                            <option value="2">女性</option>
                            <option value="3">その他</option>
                          </select>
                        </fieldset>

                        <div class="col-md-2">
                          <label>国籍</label>
                        </div>
                        <fieldset class="col-md-10 form-group">
                          <select class="form-select" id="nationality-id" name="nationality">
                            <option value="-1"></option>
                            <option value="1">日本</option>
                            <option value="2">韓国</option>
                            <option value="3">アメリカ</option>
                            <option value="4">中国</option>
                          </select>
                        </fieldset>
                        <div class="col-sm-12 d-flex justify-content-end">
                          <button type="button"
                                  class="btn btn-primary me-1 mb-1" id="btn-save">登録</button>
<!--                          <button type="reset"-->
<!--                                  class="btn btn-light-secondary me-1 mb-1">Reset</button>-->
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
         </div>
      </section>
      <!-- // Basic Horizontal form layout section end -->

      <!-- // Basic multiple Column Form section end -->
    </div>

  </div>
</div>


<script th:src="@{/vendors/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

<script th:src="@{/js/main.js}"></script>

<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{/js/member/save.js}"></script>
</body>

</html>