<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AOT ERP</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">

    <link rel="stylesheet" th:href="@{/vendors/perfect-scrollbar/perfect-scrollbar.css}">
    <link rel="stylesheet" th:href="@{/vendors/bootstrap-icons/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/css/app.css}">
    <link rel="shortcut icon" th:href="@{/images/favicon.svg}" type="image/x-icon">

    <link th:href="@{/css/datepicker.min.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div id="app">
    <th:block th:include="fragments/sidebar"></th:block>
    <div id="main">
        <header class="mb-3">
            <a href="#" class="burger-btn d-block d-xl-none">
                <i class="bi bi-justify fs-3"></i>
            </a>
        </header>

        <div class="page-heading">
            <div class="page-title">
                <div class="row">
                    <div class="col-12 col-md-6 order-md-1 order-last">
                        <h3>メンバー一覧</h3>
                    </div>
                </div>
            </div>

            <section id="multiple-column-form">
                <div class="row match-height">
                    <div class="col-12">
                        <div class="card">
<!--                            <div class="card-header">-->
<!--                                <h4 class="card-title">メンバーを検索します。</h4>-->
<!--                            </div>-->
                            <div class="card-content">
                                <div class="card-body">
                                    <form class="form">
                                        <div class="row">

                                            <div class="col-md-6 col-12">
                                                <div class="form-group">
                                                    <label for="name-id">名前</label>
                                                    <input type="text" id="name-id" class="form-control"
                                                           placeholder="name" name="Name">
                                                    <div id="name-validation" class="invalid-feedback">
                                                        <i class="bx bx-radio-circle"></i>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6 col-12">
                                                <div class="form-group">
                                                    <label for="employmentType-id">雇用形態</label>
                                                    <fieldset class="form-group">
                                                        <select class="form-select" id="employmentType-id" name="employmentType">
                                                            <option value="-1"></option>
                                                            <option th:each="employmentType : ${employmentTypes}" th:value="${employmentType.key}">[[${employmentType.value}]]</option>
                                                        </select>
                                                    </fieldset>
                                                </div>
                                            </div>

                                            <div class="col-md-6 col-12">
                                                <div class="form-group">
                                                    <label for="ageFrom-id">年齢</label>
                                                    <input type="number" id="ageFrom-id" class="form-control"
                                                           name="ageFrom" placeholder="From">
                                                </div>
                                            </div>

                                            <div class="col-md-6 col-12">
                                                <div class="form-group">
                                                    <label for="ageTo-id"></label>
                                                    <input type="number" id="ageTo-id" class="form-control"
                                                           name="ageTo" placeholder="To">
                                                </div>
                                            </div>

                                            <div class="col-md-6 col-12">
                                                <div class="form-group">
                                                    <label for="enteredDateFrom-id">入社日</label>
                                                    <input type="text" id="enteredDateFrom-id" class="form-control datepicker-here"
                                                           name="enteredDateFrom" placeholder="From" data-language='ja'>
                                                </div>
                                            </div>

                                            <div class="col-md-6 col-12">
                                                <div class="form-group">
                                                    <label for="enteredDateTo-id"></label>
                                                    <input type="text" id="enteredDateTo-id" class="form-control datepicker-here"
                                                           name="enteredDateTo" placeholder="To" data-language='ja'>
                                                </div>
                                            </div>

                                            <div class="col-md-6 col-12">
                                                <div class="form-group">
                                                    <label for="department-id">部署</label>
                                                    <fieldset class="form-group">
                                                        <select class="form-select" id="department-id" name="department">
                                                            <option value="-1"></option>
                                                            <option th:each="department : ${departments}" th:value="${department.key}">[[${department.value}]]</option>
                                                        </select>
                                                    </fieldset>
                                                </div>
                                            </div>

                                            <div class="col-12 d-flex justify-content-end">
                                                <button type="button"
                                                        class="btn btn-primary me-1 mb-1" id="btn-search">検索</button>
                                                <button type="reset" class="btn btn-light-secondary me-1 mb-1">クリア</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>

            <section id="search-result" class="section" style="display: none;">
                <div class="row" id="table-striped">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">検索結果</h4>
                            </div>
                            <div class="card-content">
                                <!-- table striped -->
                                <div class="table-responsive">
                                    <table class="table table-striped mb-0">
                                        <thead>
                                        <tr>
                                            <th>メールアドレス</th>
                                            <th>名前</th>
                                            <th>部署</th>
                                            <th>役職</th>
                                            <th>国籍</th>
                                            <th>入社日</th>
                                            <th>雇用形態</th>
                                        </tr>
                                        </thead>
                                        <tbody id="result-body">
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <th:block th:include="fragments/pagination"></th:block>
            </section>

        </div>
    </div>
</div>


<th:block th:include="fragments/danger-modal"></th:block>

<script th:src="@{/vendors/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

<script th:src="@{/js/main.js}"></script>

<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>

<script th:src="@{/js/datepicker.min.js}"></script>
<script th:src="@{/js/i18n/datepicker.ja.js}"></script>

<script th:src="@{/js/utils/validation/validation.js}"></script>
<script th:src="@{/js/utils/api/api.js}"></script>
<script th:src="@{/js/utils/pagination.js}"></script>

<script th:src="@{/js/member/search.js}"></script>
</body>
</html>