<nav aria-label="Page navigation example">
  <ul class="pagination pagination-primary">
    <li class="page-item" id="page-back">
      <button class="page-link">
        <span aria-hidden="true"><i class="bi bi-chevron-left"></i></span>
      </button>
    </li>
    <li class="page-item active"><span class="page-link" id="page-number">1</span></li>
    <li class="page-item" id="page-next">
      <button class="page-link">
        <span aria-hidden="true"><i class="bi bi-chevron-right"></i></span>
      </button>
    </li>
  </ul>
</nav>