<div id="sidebar" class="active">
<div class="sidebar-wrapper active">
  <div class="sidebar-header">
    <div class="d-flex justify-content-between">
      <div class="logo">
        <a href="index.html"><img th:src="@{/images/logo/logo.png}" alt="Logo" srcset=""></a>
      </div>
      <div class="toggler">
        <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
      </div>
    </div>
  </div>
  <div class="sidebar-menu">
    <ul class="menu">

      <!--  お知らせ  -->
      <li class="sidebar-item  has-sub">
        <a href="#" class='sidebar-link'>
          <i class="bi bi-collection-fill"></i>
          <span>お知らせ</span>
        </a>
        <ul class="submenu ">
          <li class="submenu-item ">
            <a href="#">お知らせ一覧</a>
          </li>
          <li class="submenu-item ">
            <a href="#">お知らせ登録</a>
          </li>
        </ul>
      </li>

      <!--  メンバー   -->
      <li class="sidebar-item  has-sub">
        <a href="#" class='sidebar-link'>
          <i class="bi bi-stack"></i>
          <span>メンバー</span>
        </a>
        <ul class="submenu ">
          <li class="submenu-item ">
            <a th:href="@{/m/search}">メンバー一覧</a>
          </li>
          <li class="submenu-item ">
            <a th:href="@{/m/save}">メンバー登録</a>
          </li>
        </ul>
      </li>

      <!--  マイページ   -->
      <li class="sidebar-item  has-sub">
        <a href="#" class='sidebar-link'>
          <i class="bi bi-grid-1x2-fill"></i>
          <span>マイページ</span>
        </a>
        <ul class="submenu ">
          <li class="submenu-item ">
            <a href="#">プロフィール編集</a>
          </li>
          <li class="submenu-item ">
            <a href="#">パスワード変更</a>
          </li>
        </ul>
      </li>

      <!--  申請   -->
      <li class="sidebar-title">申請</li>

      <li class="sidebar-item  ">
        <a href="#" class='sidebar-link'>
          <i class="bi bi-file-earmark-medical-fill"></i>
          <span>休み申請</span>
        </a>
      </li>

      <li class="sidebar-item  ">
        <a href="#" class='sidebar-link'>
          <i class="bi bi-file-earmark-medical-fill"></i>
          <span>申請一覧</span>
        </a>
      </li>

    </ul>
  </div>
  <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
</div>
</div>