<div class="modal-success me-1 mb-1 d-inline-block" >

  <!--Success theme Modal -->
  <div class="modal fade text-left" id="success" tabindex="-1"
       role="dialog" aria-labelledby="myModalLabel110"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
         role="document">
      <div class="modal-content">
        <div class="modal-header bg-success">
          <h5 class="modal-title white" id="success-modal-title">
          </h5>
          <button type="button" class="close"
                  data-bs-dismiss="modal" aria-label="Close">
            <i data-feather="x"></i>
          </button>
        </div>
        <div class="modal-body" id="success-modal-body">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success ml-1"
                  data-bs-dismiss="modal">
            <i class="bx bx-check d-block d-sm-none"></i>
            <span class="d-none d-sm-block">OK</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>